<input type="text" [(ngModel)]="shortDescription">

<br>
<br>

<button (click)="getSideEffectsByShortDescription()">Dohvati cjepiva</button>

<br>

<div *ngIf="selectedSideEffectsDTOs.length != 0">
    <table style="text-align: left;">
        <tr>
            <th>Kratki opis</th>
            <th>Detalji</th>
        </tr>
    
        <tr *ngFor="let sideEffectDTO of selectedSideEffectsDTOs">
            <td>{{sideEffectDTO.shortDescription}}</td>
            <td><button (click)="selectSideEffect(sideEffectDTO)">Detalji</button></td>
        </tr>
    </table>
</div>

<div *ngIf="hasBeenSelected == true">
    <p>Kratki opis: {{selectedSideEffectDTO.shortDescription}}</p>
    <p>Dugi opis: {{selectedSideEffectDTO.longDescription}}</p>
    <p>Učestalost: {{selectedSideEffectDTO.frequency}}</p>
    <p>Cjepivo: {{selectedSideEffectDTO.vaccineResearchName}}</p>
</div>