<h2>Popis cjepiva</h2>

<div class="form-group">
    <label>
        <p class="font-weight-bold">Pretraga po imenu:</p>
    </label>
    <input type="text" class="form-control" [(ngModel)]="QueryName">
</div>

<br>

<table style="text-align: left;">
    <tr>
        <th></th>
        <th>Manufacturer name</th>
    </tr>

    <tr *ngFor="let vaccine of vaccines | filter: 'manufacturerName' : QueryName ">
        <th>💉</th>
        <th><a href="#">{{vaccine.manufacturerName}}</a></th>
    </tr>
</table>

<app-vaccine-detail></app-vaccine-detail>
