<div *ngIf="sideEffectsDTOs.length != 0">
    <h2>Popis nuspojava za {{researchName}}</h2>

    <table style="text-align: left;">
        <tr>
            <th>Kratki opis</th>
            <th>Dugi opis</th>
            <th>Učestalost</th>
        </tr>
    
        <tr *ngFor="let sideEffectDTO of sideEffectsDTOs">
            <td>{{sideEffectDTO.shortDescription}}</td>
            <td>{{sideEffectDTO.longDescription}}</td>
            <td>{{sideEffectDTO.frequency}}</td>
        </tr>
    </table>
</div>

<div *ngIf="sideEffectsDTOs.length == 0">
    <h2>Cjepivo {{researchName}} nema nuspojave</h2>
</div>